/*
Name: Magazine Layout
Description: Displays Featured Image, Post Title and Excerpt in a grid layout.

*/

.magazine-post-wrap {
	display: inline-block;
	width: 32.9%;
	vertical-align: top;
}
.magazine-post {
	padding: 0 10px;
}
.magazine-post img {
	width: 100%;
	max-width: 350px;
	height: auto;
	margin: 0;
}
.magazine-post .post-image {
	position: relative;
}
.magazine-post .add_feature_image a {
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-indent: -999em;
}
.magazine-post .add_feature_image a:hover {
	color: #FFFFFF;
	font-weight: bold;
	text-decoration: none;
}
.magazine-post .add_feature_image:hover a:after {
	content: ' →';
}
.magazine-post .entry-content p {
	margin: 0 0 1em;
}
.magazine-post .entry-title {
	font-size: 1.5em;
	margin-bottom: .5em;
	line-height: 1.2;
}
.magazine-post .entry-meta {
	float: none;
}
.loop-footer {
	clear: both;
}
/**************************************
	Global IE Fixes
**************************************/
#ie6 .magazine-post-wrap,
#ie7 .magazine-post-wrap {
	display: block;
	float: left;
	height: 360px;
}
/**************************************
	IE6 Fixes
**************************************/
#ie6 .magazine-post-wrap {
	width: 31%;
}
/**************************************
	IE7 Fixes
**************************************/
#ie7 .magazine-post-wrap {
	width: 33%;
}
